#items {
  width: 80px;
}

.extend {
  width: 35rem;
  height: 500px;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 70px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #7952b3;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 25px 1px;
  text-decoration: none;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 550;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

#main {
  margin-left: 70px;
  background: #f0f1f7;
}

@media screen and (max-width: 496px) {
  .extend {
    width: 18rem;
  }
  .sidenav {
    width: 70px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  #main {
    margin-left: 70px;
  }
}

@media screen and (max-width: 966px) {
  .sidenav {
    width: 100px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  #main {
    margin-left: 70px;
  }
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  background: black;
  color: white;
  padding-right: 40px;
  padding-left: 25px;
  margin-left: 70px;
  background: white;
}

.topnav span {
  color: #7952b3;
}

span {
  color: black;
}

#cart {
  padding-left: 5px;
  display: inline;
}

#info {
  margin-bottom: 0px;
  margin: 0 5px 0 5px;
  padding: 5px;
  text-align: right;
}

#info button {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-right: 2px;
}

#info h3 {
  display: inline;
  float: left;
  color: #7952b3;
  margin-bottom: 0;
}

.col1 {
  padding: 5px 10px 0px 20px;
}

.col1 .extend1 {
  width: 100%;
  height: 280px;
  margin: 1px;
  border: 0px;
}

.col1 .extend1 .body1 {
  padding: 5px 0 20px 0;
}

.col2 {
  padding: 5px 20px 0px 10px;
}

.col2 .extend2 {
  width: 100%;
  height: 280px;
  margin: 1px;
  border: 0px;
}

.col2 .extend2 .body2 {
  padding: 5px 0 20px 0;
}

.col3 {
  padding: 5px 10px 0px 20px;
}

.col3 .extend3 {
  width: 100%;
  height: 280px;
  margin: 1px;
  border: 0px;
}

.col3 .extend3 .body3 {
  padding: 20px 0 20px 0;
}

.col4 {
  padding: 5px 10px 0px 10px;
}

.col4 .extend4 {
  width: 100%;
  height: 280px;
  margin: 1px;
  border: 0px;
}

.col4 .extend4 .body4 {
  overflow: hidden;
  padding: 20px 0 20px 0;
}

.col5 {
  padding: 5px 10px 0px 10px;
}

.col5 .extend5 {
  width: 100%;
  height: 280px;
  margin: 1px;
  border: 0px;
}

.col5 .extend5 .body5 {
  overflow: hidden;
}

.col6 {
  padding: 5px 20px 0px 10px;
}

.col6 .extend6 {
  width: 100%;
  height: 280px;
  margin: 1px;
  border: 0px;
}

.col6 .extend6 .body6 {
  padding: 5px 0 20px 5px;
  overflow: hidden;
}

.col7 {
  padding: 5px 20px 0px 20px;
  margin-top: 10px;
}

.col7 .extend7 {
  width: 100%;
  height: 280px;
  margin: 1px;
  border: 0px;
}

.col7 .extend7 .body7 {
  padding: 20px 0 20px 0;
}

.card-header {
  font-family: cursive;
  background: gainsboro;
  font-size: 26px;
  padding: 0px;
}
/*# sourceMappingURL=dashboard.css.map */